<h1>ADD DAILYWORK
</h1>

<form (ngSubmit)="onAdd(f)" #f="ngForm" class="example-form">


<div class="container">
  <div class="form-group">
    <mat-form-field class="example-full-width">

      <input matInput type="text" id="title" required placeholder="title" [(ngModel)]="title" name="title" #title1="ngModel">
      <mat-error *ngIf="title1.hasError('required')">its required</mat-error>

    </mat-form-field>


  </div>





  <mat-form-field>
    <mat-select placeholder="standard" [(ngModel)]="selectedstandard" name="selectedstandard" #dropdown="ngModel" (selectionChange)="onStandardChange()">
      <mat-option *ngFor="let item of arr_standard" [value]="item.standard_id">
        {{item.standard_no}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
  </mat-form-field>
<br>
  <mat-form-field>
    <mat-select placeholder="subject" [(ngModel)]="selectedsubject" name="selectedsubject" #dropdown="ngModel">
      <mat-option *ngFor="let item of arr_subject" [value]="item">
        {{item.subject_name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
  </mat-form-field>

<br>
<div class="form-group">
    <h4>IMAGE:</h4>
    <input  type="file" (change)="onChange($event)">
  </div>




<br>
<br>
 <mat-checkbox  *ngFor="let item of arr_batch" (change)="onCheckChange(item)" >{{item.batch_name}}</mat-checkbox>





<br>




</div>
<div class="row">
    <div class="col-sm-6">
      <button class="btn btn-group  btn-primary form-control" [disabled]="!f.valid" type="submit">SAVE</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-default btn-danger form-control" (click)="onBack()">CANCEL</button>
    </div>


  </div>

