<h1 style="font-family:Algerian;font-size:50px;margin-left:520px;">UPDATE dailywork
</h1>

<form (ngSubmit)="onUpdate(f)" #f="ngForm" class="example-form">

  <div class="container">
    <div class="form-group">
      <mat-form-field class="example-full-width">

        <input matInput type="text" name="title" id="title" required placeholder="title" [(ngModel)]="title" #title1="ngModel">
      </mat-form-field>
 </div>
 <mat-form-field>
    <mat-select placeholder="standard" name="selectedstandard" [(ngModel)]="fk_standard_id">
      <mat-option *ngFor="let item of arrstandard" name="sel" [value]="item.standard_id">
        {{item.standard_no}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>

<mat-form-field>
  <mat-select placeholder="subject" name="selectedsubject" [(ngModel)]="fk_subject_id">
      <mat-option *ngFor="let item of arrsubject" name="sel" [value]="item.subject_id">
        {{item.subject_name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
<br>
  <mat-form-field>
      <mat-select placeholder="batch" name="selectedbatch" [(ngModel)]="fk_batch_id">
          <mat-option *ngFor="let item of arrbatch" name="sel" [value]="item.batch_id">
            {{item.batch_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
<br>


   <!-- <mat-radio-group  >
      <mat-radio-button *ngFor="let item of arr1" [value]="item.standard_id" [checked]="item.standard_id==fk_standard_id?true:false" >{{item.standard_no}}</mat-radio-button>
    </mat-radio-group> -->

<br>
<br>

<div class="row">
  <div class="col-md-6">
    <button class="btn btn-lg btn-primary form-control" type="submit">SAVE</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-lg btn-danger form-control" (click)="onBack()">CANCEL</button>
  </div>


</div>

<!-- <button  mat-raised-button color="primary" type="submit" style="font-size: 40px;" class="btn btn-default btn-primary"  >SAVE</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button  mat-button type="button" (click)="onBack()" class="btn btn-default btn-primary">CANCEL</button> -->

