<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
<mat-toolbar color="primary" >MENU</mat-toolbar>

    <mat-nav-list>
        <!-- <a mat-list-item [routerLink]="['/dailywork']" routerLinkActive="router-link-active" >dailyworkadd</a> -->
        <a mat-list-item [routerLink]="['/batch']" routerLinkActive="router-link-active" >BATCH</a>
        <a mat-list-item [routerLink]="['/alldaily']" routerLinkActive="router-link-active" >DAILY WORK</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>



    <mat-card-content>
        <mat-toolbar mat-card-avatar class="example-header-image">
          <mat-card-title style="margin-left: 90px;">
              <mat-toolbar color="primary">MATHS ACADEMY</mat-toolbar></mat-card-title>
        </mat-toolbar>
      <!-- <span>MATHS ACADEMY</span> -->
      </mat-card-content>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
