<button mat-button *ngFor="let item of mergearr" (click)="onBatchChange(item.batch_id)">{{item.batch_name}}</button> -->
<mat-form-field>
    <input matInput name="schedule_date" [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="attendance_date" #scheduleDate="ngModel">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

<table>
<th>Student name</th>
<th>attendance_status</th>

<tr *ngFor="let item of arr">
<td>{{item.student_name}}</td>
<td> <mat-checkbox color="primary" [checked]=true (change)="onCheckChange(item)" >present</mat-checkbox> </td>
</tr>
</table>

<button (click)="onclickupdate()">Update</button>





