<h1>ADD FEES
</h1>

<form (ngSubmit)="onAdd(f)" #f="ngForm" class="example-form">

<mat-form-field>
  <mat-select placeholder="select a student" [(ngModel)]="selectedstudent" name="selectedstudent" #dropdown="ngModel" (selectionChange)="onFeesChange()">
    <mat-option *ngFor="let item of arr_student" [value]="item.student_id">
      {{item.student_name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
</mat-form-field>
<br>

<div class="container">
  <div class="form-group">
    <mat-form-field class="example-full-width">

      <input matInput type="text" id="amount" required placeholder="amount" [(ngModel)]="amount" name="amount" #amt="ngModel">
      <mat-error *ngIf="amt.hasError('required')">its required</mat-error>

    </mat-form-field>
<br>
<mat-form-field>
  <mat-select placeholder="mode" [(ngModel)]="mode" name="mode" #m1="ngModel" >
    <mat-option value="cash">
    cash
    </mat-option>
    <mat-option value="cheque">
      cheque
      </mat-option>
  </mat-select>
  <mat-error *ngIf="m1.hasError('required')">its required</mat-error>
</mat-form-field>
<br>

  </div>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-group  btn-primary form-control" [disabled]="!f.valid" type="submit">SAVE</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-default btn-danger form-control" (click)="onBack()">CANCEL</button>
    </div>


  </div>
