   <!-- <mat-form-field>
    <mat-select placeholder="standard" [(ngModel)]="selected_batch" name="selected_batch" #dropdown="ngModel" (selectionChange)="onBatchChange()">
      <mat-option *ngFor="let item of mergearr" [value]="item.batch_id">
        {{item.batch_name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="dropdown.hasError('required')">its required</mat-error>
  </mat-form-field>
<br> -->
<!-- <mat-checkbox  *ngFor="let item of mergearr" [(ngModel)]="selected_batch" name="selected_batch" #cb="ngModel" [value]="item.batch_id" (change)="onBatchChange()"  >{{item.batch_name}}</mat-checkbox> -->
<button mat-button color="primary" (click)="onAdd()" type="button" class="btn btn-primary btn-lg" >
    <mat-icon >add</mat-icon>
    ADD NEW ATTENDANCE
    </button>


<button mat-button *ngFor="let item of mergearr" (click)="onBatchChange(item.batch_id)">{{item.batch_name}}</button>
<table>
<th>Attendance date</th>
<th>Student name</th>
<th>Attendance status</th>
<tr *ngFor="let item of arr">
<td>{{item.attendance_date | date:"dd/MM/yyyy"}}</td>
<td>{{item.student_name}}</td>
<td>{{item.attendance_status}}</td>
</tr>
</table>
