<h1>UPDATE NOTICE
</h1>

<form (ngSubmit)="onUpdate(f)" #f="ngForm" class="example-form">

  <div class="container">
    <div class="form-group">
      <mat-form-field class="example-full-width">

        <input matInput type="text" name="notice_name" id="notice_name" required placeholder="notice name" [(ngModel)]="notice_name" #noticename1="ngModel">
      </mat-form-field>
 </div>
 <div class="form-group">
  <mat-form-field class="example-full-width">

    <textarea matInput type="text" name="notice_desc" id="notice_desc" required placeholder="notice description" [(ngModel)]="notice_desc" #noticedesc="ngModel"></textarea>
  </mat-form-field>
</div>



 <mat-form-field>
    <mat-select placeholder="standard" name="fk_standard_id" [(ngModel)]="fk_standard_id">
      <mat-option *ngFor="let item of arrstandard" name="sel" [value]="item.standard_id">
        {{item.standard_no}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>


<br>
  <mat-form-field>
      <mat-select placeholder="batch" name="fk_batch_id" [(ngModel)]="fk_batch_id">
          <mat-option *ngFor="let item of arrbatch" name="sel" [value]="item.batch_id">
            {{item.batch_name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
<br>




<div class="row">
  <div class="col-md-6">
    <button class="btn btn-lg btn-primary form-control" type="submit">SAVE</button>
  </div>
  <div class="col-md-6">
    <button class="btn btn-lg btn-danger form-control" (click)="onBack()">CANCEL</button>
  </div>


</div>


<!-- <button  mat-raised-button color="primary" type="submit" style="font-size: 40px;" class="btn btn-default btn-primary"  >SAVE</button>&nbsp;&nbsp;&nbsp;&nbsp;
<button  mat-button type="button" (click)="onBack()" class="btn btn-default btn-primary">CANCEL</button> -->


